<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../assets/icon.PNG">
    <script src="https://www.gstatic.com/firebasejs/9.21.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.21.0/firebase-auth-compat.js"></script>
    <title>Home</title>
</head>

<body>
    <div class="page">
        <header class="menu">
            <div>
                <h1>
                    <a class="botao_home" href="../index.html">DustFlix</a>
                </h1>
            </div>

            <div class="logoff">
                <button type="button" class="sair" onclick="logout()">Log out </button>
            </div>
        </header>

        <form class="menu_pesquisa">
            <input name="pesquisa" placeholder="Digite o nome do filme" />
            <button>Pesquisar</button>
        </form>

        <section class="bloco_principal_home">
            <div class="lista">
                <div class="item">

                </div>
            </div>
        </section>

        <section class="bloco_grade">

        </section>


        <footer>
            <div class="adicionais">
                <ul class="rodape">
                    <a>Dúvidas</a>
                    <a href="https://portifolio-six-murex.vercel.app/">Quem somos</a>
                </ul>
                <ul class="rodape">
                    <a>Formas de pagamento</a>
                    <a>Minha conta</a>
                </ul>
                <ul class="rodape">
                    <a>Suporte</a>
                    <a>Central de ajuda</a>
                </ul>
            </div>
        </footer>
    </div>
</body>

<script src="../js/home.js"></script>
<script src="../js/pesquisa.js"></script>
<script src="../js/firebase-init.js"></script>
<script src="../js/auth-guard.js"></script>




</html>