body {

    margin: 0%;
    padding: 0%;

}

.page {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoff {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}



.sair hover {
    background: #171717cb;
}

.menu {
    display: flex;
    margin-top: 5%;
}

.menu_botoes {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: 12%;
    padding: 0% 7%;
    border-radius: 5px;
    background-color: azure;
    opacity: 0.95;
    display: flex;
    justify-content: space-evenly;
}

.menu_botoes a {
    padding: 15px;
}

.botoes_menu {
    text-decoration: none;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 10% 20%;
    margin-left: 1%;
    margin-right: 1%;
    color: #ffffff;
    text-align: center;
}

.botao_home {

    text-decoration: none;
    font: normal 1.7em arial;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(194, 16, 3);
    font-weight: 800;
    text-shadow: 0.1em 0.1em 0.009em black;
    margin-left: 40%;
}

.bloco_principal {
    align-items: center;
    padding: 3%;
    margin: 10% 30%;
    border-radius: 20px;

    background-color: azure;
    text-align: center;
    opacity: 0.95;
}

a {
    text-decoration: none;
    color: rgb(3, 130, 194);
    font-weight: 800;
    text-shadow: 0.01em 0.01em 0.009em black;
}

.error {
    color: #ffffff;
    background: red;
    margin: 0 10% 0 10%;
    display: none;
}

.button_cadastro {
    background: none;
    border: none;
    color: rgb(3, 130, 194);
    font-weight: 800;
    text-shadow: 0.01em 0.01em 0.009em black;
}

.loading {
    background: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0%;
    left: 0%;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    border: 2px solid black;
    height: 100%;
    width: 100%;
    -webkit-text-stroke: 0.5px #FFF;

}

footer {
    margin-top: 18%;


}

.adicionais {
    display: flex;
    justify-content: center;
    background-color: rgb(29, 29, 29);
    margin: auto;
    padding: 0.5%;
    opacity: 0.95;
    text-decoration: none;
}

.rodape a {
    display: inline-block;
    text-decoration: none;
    margin: 1%;
    font-weight: bold;
    color: azure;
    margin-left: 2em;
    margin-right: 2em;
}



@media(max-width: 650px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .botao_home {
        margin: auto;


    }

    .menu_botoes {
        margin: auto;
        align-items: center;
        text-align: center;
        padding: 4% 7%;
        border-radius: 5px;
        background-color: azure;
        opacity: 0.95;
        display: flex;
        justify-content: space-evenly;
    }

    .bloco_principal {
        margin: 10% 5%;
    }

    .adicionais {
        display: flex;
        flex-direction: column;
    }

}